
/* style for the heading */
.title {
    height: 80px;
    background-color: rgb(47, 47, 243);
    color: white;
    padding: 15px;
    
  }

  /* style for the the input search box */
  .cityCode{
    background-color:lightgray;
    font-size: 18px;
  }

  /* style for the 5 Day div's */
  div#fiveDay div
  {
    width: 125px;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }

  .city
  {
    cursor: pointer;
  }